<table class="table table-hover">
  <thead>
    <tr>
      <th>UID</th>
      <th>Name</th>
      <th>Provider</th>
    </tr>
  </thead>
  <tbody>
    <%@users.each do |user| %>
      <tr>
        <td><%=user.uid%></td>
        <td><%=user.name%></td>
        <td><%=user.provider%></td>
        <td><%= button_to 'bad_user', "/users/#{user.id}", method: 'delete' %>/td>
      </tr>
    <%end%>
  </tbody>
</table>