<table class="table table-hover">
  <thead>
    <tr>
      <th>UID</th>
      <th>Name</th>
      <th>Provider</th>
    </tr>
  </thead>
  <tbody>
    <%@users.each |user| do %>
      <tr>
        <td><%=user.uid%></td>
        <td><%=user.name%></td>
        <td><%=user.provider%></td>
      </tr>
    <%end%>
  </tbody>
</table>